/* CSS Document */
#dashboard_atariage #identity {
   width: 52px;
   height: 52px;
   position: absolute;
   top: 0;
   left: 0;
   background: url(../images/aa.png) no-repeat 5px 5px;
   }
   
#dashboard_atariage h3.dashboard-widget-title {
   padding: 0 0 0 55px;
   margin-bottom: 20px;
   }
   
#dashboard_atariage small {
   padding-right: 10px;
   }
