/* CSS Document */
#dashboard_AtariAge #identity {
   width: 33px;
   height: 33px;
   position: absolute;
   top: 0;
   left: 0;
   background: url(../images/aa.png) no-repeat 5px 5px;
   }
   
#dashboard_AtariAge h3.dashboard-widget-title {
   padding: 0 0 0 55px;
   margin-bottom: 20px;
   }
   
#dashboard_AtariAge small {
   padding-right: 10px;
   }
   
#dashboard_AtariAge .pubdate {
   margin: -10px 0 0;
   *margin: 0; /* IE7 */
   font-weight: bold;
   }
   
#dashboard_AtariAge ul li a { 
   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 13px;
   }
   
#dashboard_AtariAge p {  
   margin-bottom: 20px;
   }
